/* The dark and ligh theme */

.dark {
    background-color: rgb(0, 0, 31);
    color: white;
    height: 100%;
}

.container {
    background-color: rgb(255, 239, 100);
    border: solid 2px salmon;
    margin-left: 20%;
    margin-right: 20%;
}