
/* global styles */

* {
    box-sizing: border-box;
    cursor: context-menu;
}


body {
    background-color: white;
}

/* style scrollbar */
::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: teal;
    border-bottom: 1px dotted turquoise;
}

ul {
    list-style-type: square;
}

::selection {
    background-color: turquoise;
    color: white;
}

em {
    background-color: rgba(248, 245, 47, 0.541);
    
}

blockquote {
    background-color: rgba(214, 214, 214, 0.432);
    border-left: 1em solid hotpink;
    padding: 01em;
    border-radius: 4px;
}

img {
    max-width: 70vw;
}

