
.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.pageLinks {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.pageLinks > li > a {
    text-decoration: none;
    color: black;
    border-bottom: none;
    border-radius: 5px;
    padding: 4px;
    transition: 0.2s;
    margin-left: 5px;
    margin-right: 5px;
}

.pageLinks > li > a:hover {
    background-color: black;
    color: white;

}

.twitterMe {
    text-decoration: none;
    border-bottom: none;
    margin-right: 10px;
}

.twitterMe > img {
    max-width: 30px;
}

@media screen and (max-width: 500px) {
    .twitterMe {
        max-width: 15px;
    }

    .pageLinks  {
        margin-left: -30px;
    }
}