.homeLightBody {
  background-color: #1a212c;
  color: white;
}

.homeDarkBody {
  font-family: "IBM Plex Mono", monospace;
}
.name {
  color: #0dfde9;
}

.logo {
  max-width: 30%;
}

.imgc {
  display: flex;
  justify-content: center;
}

.pre {
  color: #53cdfe;
  margin: 5%;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-evenly;
}

.social {
  max-width: 20px;
}

.c {
  border-botton: 2px dotted green;
}

.git {
  text-decoration: none;
  color: grey;
  border-bottom: 1px dotted green;
}

.header {
  display: flex;
  justify-content: space-evenly;
}

.headerLinks {
  display: flex;
  justify-content: space-evenly;
}

.headerLinks > a {
  margin: 0.5em;
  color: rgb(0, 0, 29);
}
