/* The typewriter effect on home page */
.typewriter {
    padding-left: -20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
 .name {
     color: teal;
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(20, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: black;
        display: none;
    }
    100% {
        display: none;
    }
}

/* End of typewriter effect on home page */

/* Profile container style */
.profileContainer {
    margin-top: 3em;
    display: flex;
    justify-content: flex-start;
}

.profile {
    max-width: 20%;
    margin-left: 10%;
    border-radius: 50%;
    border-color: #FE087F;
}

/* Presentation */
.present {
    display: flex;
    justify-content: flex;
    align-items: center;
    margin-left: 5%;
}

.message {
    margin-left: 10%;
    font-size: 1.3em;
}

@media screen and (max-width: 480px) {
    .name {
        font-size: 1em;
    }

    .headerLink {
        margin-left: 1em;
    }

    .profileContainer {
        margin-top: 3em;
    }
}

@media screen and (max-width: 340px) {
    .headerLink {
        margin-left: 0.5em;
    }
}