

.page {
    margin-left: 20%;
    margin-right: 20%;
    z-index: 20px;
}

.name {
    font-size: 80px;
}

.present {
    font-size: 30px;
    color: rgba(73, 73, 73, 0.692);
}

.profile {
    max-width: 200px;
    height: 200px;
    border-radius: 25%;
    box-shadow: 4px 4px 4px 4px rgba(255, 255, 255, 0.678);
}

.user {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.separator {
    border: solid transparent;
    border-bottom: 1px dotted grey;
}



.techs {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}

.techs > li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    word-wrap: break-word;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width: 750px) {
    .page {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media screen and (max-width: 470px) {
    .user {
        margin-top: 5px;
        display: flex;
        flex-direction: column-reverse;
    }

    .techs {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    }
}