/* The typewriter effect on home page */
.typewriter {
    padding-left: -20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
 .name {
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(20, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 25%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: black;
        display: none;
    }
    100% {
        display: none;
    }
}

/* End of typewriter effect on home page */

/* Style the header */
.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2em;
}

/* Header links */
.headerLinks {
    display: flex;
    justify-content: space-evenly;
    align-items: center
}

/* header link (individual) */
.headerLink {
    margin-left: 4em;
    color: #FE087F;
    text-decoration: none;
    font-size: 1.5em;
}

/* Profile container style */
.profileContainer {
    display: flex;
    justify-content: flex-start;
}

.profile {
    max-width: 20%;
    margin-left: 10%;
}

/* Presentation */
.present {
    display: flex;
    justify-content: flex;
    align-items: center;
}