
.header {
	display: flex;
	justify-content: space-between;
}

.item {
	margin: 4px;
}

.home {
	color: #0dfde9;
	margin: 4px;
	text-decoration: none;
	font-size: 20px;
}

.c {
	text-align: center;
}
