.card {
  margin-left: 30%;
  margin-right: 30%;
  padding: 5%;
  border-radius: 8px;
  background-color: rgb(0, 255, 255);
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
}

.card:hover {
  animation: card-climb 1s;
  animation-fill-mode: forwards;
}

.postname {
  color: rgb(0, 153, 255);
  word-wrap: break-word;
}

@keyframes card-climb {
  to {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  }
}

@media screen and (max-width: 480px) {
  .card {
    margin-left: 10%;
    margin-right: 10%;
  }
}
