.name {
  color: #0dfde9;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
  height: 2.5em;
  width: 100%;
  margin-top: 10%;
}

.social {
  max-width: 20px;
}

.c {
  border-bottom: 2px dotted green;
}

.header {
  display: flex;
  justify-content: space-evenly;
}

.headerLinks {
  display: flex;
  justify-content: space-evenly;
}

.headerLinks > a {
  margin: 0.5em;
  color: rgb(0, 0, 253);
}

.homeLightBody {
  background-color: #1a212c;
  color: white;
}

.homeDarkBody {
  font-family: "IBM Plex Mono", monospace;
}
