

/* The dark and ligh theme */

.dark {
    background-color: rgb(0, 0, 31);
    color: white;
}


.post {
    margin-left: 3em;
    margin-right: 3em;
}

.title {
    font-size: 4em;
    font-weight: 20;
}

.content {
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

/* The tags for the blog post */
.tags {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

.tags > li {
    background-color: sandybrown;
}

/* Stzle the post og image */
.og {
    max-width: 90%;
    box-shadow: 0 0 9px 1px #00523d;
}

.ogContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

@media screen and (max-width: 480px) {
	.post {
		margin-left: 1em;
		margin-right: 1em;
	}
}
