.card,
.about {
  display: flex;
  justify-content: space-evenly;
}

.card {
  flex-direction: column;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 1%;
  border-radius: 8px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
}

.about {
  flex-direction: row;
}

.title {
  text-align: center;
}

.profile {
  max-width: 10%;
  height: auto;
}

.him {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
