.card , .about {
	display: flex;
	justify-content: space-evenly;
}

.card {
	margin: 8px;
	flex-direction: column;
	box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
	padding: 10px;
	border-radius: 6px;
}

.about {
	flex-direction: row;
}

.title {
	text-align: center;
}

.profile {
    max-width: 60px;
	height: auto;
}

.him {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
}
