
.techs {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
}

.tech {
	margin: 10px;
	max-width: 100px;
}

.show {
	border-bottom: 2px dotted red;
}

.con {
	display: flex;
	justify-content: center;
}
