.tools {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    list-style-type: none;
}

.tool {
    max-width: 30%;
}

.container {
    text-align: center;
}


/* The dark and ligh theme */

.dark {
    background-color: rgb(0, 0, 31);
    color: white;
}
